#opacar{
     background-image:url(/diseño1.jpg); 
    border: black solid 1px;
    min-width:auto;
    min-width: auto; 
}
.navbar-brand2 {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .tamañoletra{
    font-size: 1.20rem;
  }
  .img-real {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  .colornegro{
    color: black;
  }
  
  .img-real:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }

  .transbox {
    /* margin: 30px; */
    background-color: red;
    border: 1px solid black;
     opacity: 0.7; 
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
  div.transbox p {
    /* margin: 5%; */
    font-weight: bold;
    color: #000000;
  }
  .logo-empresa{
    width:  800px;
    height: 500px;
    /* background-image: url("Logo-Full.jpg"); */
     background-size: 100%; 

    
    margin: 5px;
  }

  .ajuste-imagen{
    object-fit: cover;
  }

  .fondo{
     
    background-image:url("/diseño1.jpg");
  }
  
  .caritas{
    position: relative;
    margin-top: -85px;
  }

  .img-fluid-modificado {
    max-width: 100%;
    height: 40
    0px;
  }
   .margen-cero-navbar{
     margin: auto;
   }
    
